/* Importing Google fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    max-width: 1400px;
    margin: 0 auto;
}


/* main-menu */
.main-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.main-menu h1{
    font-size: 40px;
    margin-bottom: 1rem;
}
.main-menu a{  
    font-size: 18px;
    text-align: center;
    width: 14rem;
    color: #212121;
    padding: 10px;
    border: 2px solid #212121;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.2s;
}
.main-menu a:hover{
    color: white;
    background-color: #212121;
}


/* sub-menu */
.sub-menu{
    width: 90%;
    display: flex;
    text-align: center;
    margin: 4rem auto;
    flex-direction: column;
}
.sub-menu h1{
    font-size: 35px;
    margin: 0 auto 70px;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}
.card{
    background-color: rgb(230, 230, 230);
    font-size: 14px;
    padding: 20px;
    width: 200px;
    border-radius: 24px;
}
.card img{
    width: 100%;
    border-radius:  12px;
}
.card .card-body{
    margin-bottom: 10px;
    text-align: left;
}
.card .card-body h2{
    font-size: 18px;
    margin: 5px 0;
}
.card .card-body p{
    font-size: 12px;
    margin-bottom: 2rem;
}
.card .card-body a{
    border: 2px solid #212121;
    font-size: 12px;
    color: white;
    background-color: #212121;
    text-decoration: none;
    padding: 10px;
    border-radius:  12px;
    transition: 0.2s;
}
.card .card-body a:hover{
    color: #212121;
    background-color: transparent;
}


/* niat page */
.niat{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0rem auto 10rem;
}
.niat h1{
    text-align: center;
    margin: 4rem auto 2rem;
}
.niat .content{
    text-align: center;
    width: 85%;
    margin: 0 auto;
}
.niat .content img{
    width: 200px;
}
.niat .content p{
    font-size: 17px;
    text-align: justify;
}
.niat .content .bacaan{
    margin: 3rem auto;
}
.niat .content .bacaan .arab{
    font-size: 30px;
}
.niat .content .bacaan .latin{
    font-size: 15px;
    color: #4f4f4f;
    margin-bottom: 1rem;
}
.niat .content .bacaan .arti{
    font-size: 16px;
}


/* bottom-nav */
.bottom-nav{
    width: 100%;
    position: fixed;
    display: flex;
    gap: 18rem;
    text-align: center;
    justify-content: space-evenly;
    color: white;
    background-color: #212121;
    margin: 0 auto;
    padding: 15px;
    bottom: 0;
    border-top: 1px solid #212121;
    z-index: 1000;
}
.bottom-nav .desc{
    display: flex;
    text-align: center;
}
.bottom-nav .center{
    justify-content: center;
}

.col.center {
    justify-content: center;
}
.desc {
    justify-content: space-between;
}
.nav-btn {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 6px;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.nav-btn:hover {
    padding: 6px;
    border-radius: 4px;
    background-color: #3f3f46;
}
.reverse{
    display: flex;
    flex-direction: row-reverse;
}
.material-symbols-outlined {
    font-size: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    vertical-align: middle;
}
